* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  position: relative;
}

/* prima row */

.blue-row{
  background-color: #eaf0f6;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid grey;
  padding: 20px;
}

.lngs {
  float: left;
}

.contact {
  padding: 10px;
  border-left: 1px solid black;
  margin-left: 30px;
  margin-left: 1px solid black;
}

/* form */

.info {
  float: right;
}

.src {
  display: inline-block;
  width: 50px;
}

.search-bar::after {
  display: table;
  content: '';
  clear: both;
}

/* download */
.small-download {
  width: 150px;
  height: 30px;
  margin-left: 10px;
}

.button {
  border-radius: 5px;
  background-color: #ff7a59;
  border: #ff7a59;
  color: white;
}

.big-download {
  width: 150px;
  height: 50px;
  margin-top: 30px;
}

/* barra logo e menu */
.logo {
  float: left;
  padding: 10px;
}

.menu {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}

/* lista */
.menu::after {
  content: "";
  clear: both;
  display: table;
}

.menu-list {
  float: right;
  line-height: 50px;
  width: 50%;
}

ul.list-items li {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  margin-left: 15px;
  text-align:center;
}

/* descrizione del sito & download */
.row-orange::after {
  content: '';
  display: table;
  clear: both;
}

.row-orange {
  width: 100vw;
  height: 450px;
  background-color: #fff4ee;
  border-bottom: 2px solid black;
  position: relative;
}

.title-h1 {
  width: 500px;
  float: left;
  margin-top: 50px;
}

.additional-info {
  font-size: 15px;
  margin-top: 20px;
}

/* divisore */
.main-divider {
  width: 100vw;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: #72dccf;
}

/* seconda sezione */
.principal-row {
  width: 100vw;
  height: 1100px;
  background-color: #eaf0f6;

}

.cube {
  height: 150px;
}



/* paragrafi di testo */
.text-10{
  font-size: 10px;
  margin-top: 30px;
}

.text-15 {
  margin-top: 30px;
  font-size: 15px;
  display: block;
}


/* colonna orizzonale e verticali */

.four-col {
  position: relative;
  width: 100%;
  height: 800px;
  margin-top: 30px;
}

.col {
  background-color: #ffffff;
}

.horizontal {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 5px;
}

.vertical {
  margin-top: 30px;
  width: 250px;
  height: 500px;
  display: inline-block;
  border-radius: 5px;
  float: center;
}
 /* WARNING: ASSOLUTAMENTE DA RIGUARDARE MARGINI BLOCCHI VERTICALI!!! FUNZ CALC???
   */

.vertical:nth-child(3) {
  margin-right: 73px;
}

.vertical:nth-child(2) {
  margin-right: 65px;
}

/* proprietà interne blocchi  */

.icon {
  position: absolute;
  width: 250px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin-top: 35px;
  float: left;
}

.image {
  position: absolute;
  width: 50%;
  height: 100px;
  background-color: blue;
  display: block;
  margin-left: 62.5px;
}

.button.w-120.h-50 {
  display: block;
  width: 120px;
  height: 50px;
  position: absolute;

}

.text-paragraph {
  background-color: green;
  width: calc(100% - 250px);
  display: inline-block;
  float: right;
  height: 200px;
  margin-top: 35px;
}

/* riga turchese tabella  */
.turquoise-row {
  width: 100vw;
  height: 550px;
  background-color: #00adb4;
  position: relative;
}

.title-h2 {
  position: absolute;
  margin-top: 50px;
}

.t-r {
  text-align: center;
  color: white;
}

.grid{
  width: 100%;
  top: 220px;
  height: 270px;
}

.block {
  position: relative;
}

.block-150-100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#border-special {
  border-right: 2px solid white;
}

.bottom-row {
  position: absolute;
  border-top: 2px solid white;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.inside-elements {
  color: black;
  margin: 10px;
  color: white;
}

.small-icon {
  width: 50px;
  height: 50px;
  width: 50%;
  margin: auto;
}
