* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* prima row */

.blue-row{
  background-color: #eaf0f6;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid grey;
  padding: 20px;
}

.lngs {
  float: left;
}

.contact {
  padding: 10px;
  border-left: 1px solid black;
  margin-left: 30px;
  margin-left: 1px solid black;
}

/* form */

.info {
  float: right;
}

.src {
  display: inline-block;
  width: 50px;
}

.search-bar::after {
  display: table;
  content: '';
  clear: both;
}

/* download */
.first.download {
  width: 150px;
  height: 30px;
  margin-left: 10px;
}

.download {
  border-radius: 5px;
  background-color: #ff7a59;
  border: #ff7a59;
  color: white;
}

.second.download {
  width: 170px;
  height: 70px;
  margin-top: 20px;
}

/* barra logo e menu */
.logo {
  float: left;
  padding: 10px;
}

.menu {
  background-color: #ffffff;
  width: 100vw;
  height: 50px;
}

/* lista */
.menu-list {
  text-align: right;
  padding: 10px;
}

ul.menu-list li {
  display: inline;
  padding: 10px;
}

/* descrizione del sito & download */
.free-download {
  width: 100vw;
  height: 450px;
  background-color: #fff4ee;
  border-bottom: 2px solid black;
  position: relative;
}

.description {
  position: absolute;
  margin: 70px 70px;
  width: 300px;
}

.additional-info {
  font-size: 15px;
  margin-top: 20px;
}

/* divisore */
.main-divider {
  width: 100vw;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: #72dccf;
}

/* seconda sezione */
.features {
  width: 100vw;
  height: 1200px;
  background-color: #eaf0f6;
  position: relative;
}

.powerful-alone {
  text-align: center;
  width: 500px;
  position: absolute;
}

.cube {
  height: 200px;
}

.offers {
  margin-top: 50px;
  
  width: 500px;
}
